.MainDiv {
    display: flex;
    border: 4mm ridge rgba(170, 50, 220, .6);
    background-color: pink;
    width: 800px;
    margin: auto;
}

.listDiv {
    margin: 10px 0 0 10px;    
}

.img {
    height: 80px;
}

.plitkaChat {
   display: flex;
   border: 2px solid #f05555;
   margin: 5px;
}

.name {
    font-size: 24px;
    margin: 0 0 0 3px;
}

.mass {
    
}